body{
    overflow-x: hidden;
    main{
        overflow-x: hidden;
        .container-carrousel{
            display: flex;
            flex-direction: row;
            overflow-x: hidden;
            position: absolute;
            left: calc(50% - 135px);
        
            .container-image{
                display: flex;
                flex-direction: column;
                height: 400px;
                width: 190px;
                justify-content: center;
                align-items: center;
                .image{
                    width: 150px;
                    height: 200px;
                }
        
                &.focus{
                    width: 270px;
                    .image{
                        width: 230px;
                        height: 300px;
                    }
                }
                .description{
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
}